<h1>Cocktails</h1>

<tbody>
  <% @cocktails.each do |cocktail| %>
    <tr>
      <td><%= cocktail.name %></td>
      <td><%= link_to 'Show', cocktail_path(cocktail) %></td>
    </tr>
  <% end %>
  <%= link_to 'Create a new cocktail', new_cocktail_path %>
</tbody>
